.LoginPage {
  background-color: #DDD;
  min-height: 100vh;
}

.LoginPage_Body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.LoginPage_Forms {
  background-color: #FFF;
  width: 50vw;
  max-width: 350px;
  min-width: 280px;
  padding: 20px;
  border-radius: 10px;
}

.LoginPage_Forms h3 {
  padding-bottom: 10px;
}

.LoginPage_Forms_SectionDivider {
  border-bottom: 2px solid #DDD;
  margin-bottom: 20px;
}
